<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">Made in 2016 by Chris Barry</p>
<p class="text-center text-muted"><a href="https://github.com/ChrisW-B/positive-news">Github</a></p>
<script src="http://code.jquery.com/jquery-3.1.1.min.js" 
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  	crossorigin="anonymous">
</script>
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src="/js/index.js" type="text/javascript" charset="utf-8" async defer></script>

