<div class="list-group grid">
<% for(var i=0; i < sources.length; i++) { %>
        <a href="#articles" class="list-group-item list-group-item-action" data-api-id="<%= sources[i].id %>">
            <%= sources[i].name %>
        </a>
    <% } %>
 </div>