<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome!</h1>
            
        </div>
        <div class="sources jumbotron">
            <p>Please select a news source</p>
            <% include ../partials/source-list %>
        </div>
        <div id="articles">
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
<% include ../partials/css %> 